---
// const { page } = Astro.props;
const pages = ["home", "about", "blog", "tags"];
---

<div class="nav-links">
  {pages.map((page) => <a href={page == "home" ? "/" : `/${page}/`}>{page}</a>)}
</div>
